<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách khóa học</title>
</head>
<body>
  <h1>Danh sách khóa học</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên khóa học</th>
        <th>Mô tả</th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach(course => { %>
        <tr>
          <td><%= course.CourseID %></td>
          <td><%= course.CourseName %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
